body{
    background-color:whitesmoke;
    margin: 0;
    padding: 0;
    font: 75% georgia, sans-serif;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    display: inline-block
}

header{
    background-color: thistle;
    height: 110px;
    text-align: center;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

h1{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    text-shadow: 2px 2px 2px whitesmoke;
  /*   animation-name: slide;
    animation-duration: 60s; */ 
}

@keyframes slide {
    0% {background-color: rgb(216, 191, 216); left: 100px; top: 0px;}
    25% {background-color: rgb(89, 52, 89); left: 100px; top: 200px;}
    50% {background-color: rgb(166, 146, 166); left: 100px; top: 0px;}
    75% {background-color: rgb(89, 79, 89); left: 100px; top: 200px;}
    100% {background-color: rgb(223, 129, 223); left: 100px; top: 0px;}
}

h2{
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    text-shadow: 2px 2px 2px whitesmoke;
}

nav li{
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
}

nav li a{
    color: whitesmoke;
    text-decoration: wavy;
    font-size:20px;
    font-weight: bold;
    cursor: pointer;
}

nav li a:hover{
    color: rgb(111, 140, 95);
    text-decoration: wavy;
}

main{
    width: 960px;
    margin: 30px auto;
    min-height: 700px;
}

#hero{
    width: 960px;
    border: 3px solid thistle;
    border-radius: 5px;
}

#hero:hover{
    border: 3px solid rgb(111, 140, 95);
}

main li img{
    width: 300px;
}

main li{
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    border: 2px solid thistle;
    border-radius: 5px;
}

main li:last-child{
    margin-right: 0px;
}

main li:hover{
    border: 2px solid rgb(111, 140, 95);
}

p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer{
    background-color: thistle;
    text-align: center;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

footer li a{
    color: whitesmoke;
    text-decoration: wavy;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

footer li a:hover{
    color: rgb(111, 140, 95);
    text-decoration: wavy;
}

h4{
    clear: both;
}